mat-card {
    align-items:center;
    font-family: Univers-Basic-Regular,Arial,sans-serif;
    width: 50%;
    min-width:400px;
    margin: 5px auto;
    padding: 20px;
}

mat-form-field {
  display:block;
}

h2, p {
    text-align:center;
}