<div class="container">
    
    <section class="top">
           <h1>Stay Motivated.  Achieve Your Goals.  Get Started Today.</h1>
            <p>Planning your dream vacation?  Need a new car?  Saving for a downpayment on a new home?  Need help keeping track of it all?
                Introducing...
            </p>
            <div class="banner">
                <span>Spyglass</span>
                <img src="../../../assets/SailorAndTelescope3.svg" alt="sailor with spyglass">
            </div>
            <br>
            <p id="slogan">helping you keep your eye on the prize
            </p>
            <p id="copyright">
                brought to you by <a href="http://www.vanguard.com">
                    <img src="../../../assets/vanguard.svg" alt="vanguard.com" style="vertical-align:middle;">
                </a>
            </p>
                
        </section>
    <section>
        <div class="large-side">
            <header>How it works</header>
            <ul>
                <li>
                    Add a goal!  
                </li>
                <li>
                    Tell Spyglass how much you want to save
                </li>
                <li>
                    Choose how much you want to put aside each month, or just pick a date: Spyglass will do all the math for you.
                </li>
                <li>
                    Track all of your goals at once on your personalized homepage
                </li>
            </ul>
        </div>
        <div class="small-side"
            style="background-image: url('../../../assets/about_page_2.png');background-size:cover; background-position:bottom">
        </div>
</section>
    <section>
        <div class="small-side" 
            style="background-image: url('../../../assets/about_page_3.png');background-size:cover; background-position:bottom;">
        </div>
        <div class="large-side">
            <header>Life is full of surprises</header>
            <p>We know plans change.  Need to move a goal date?  Want that dream vacation sooner rather than later?</p>  
                <ul>
                    <li>
                        Update your goals to meet the demands of today
                    </li>
                    <li>
                        Archive goals you need to put on hold for a little while.  They'll be there to pick back up when the time is right.
                    </li>
                </ul>
        </div>
    </section>
    <section>
        <div class="large-side">
            <header>Who doesn't like a gold star?</header>
            <p>Everybody needs a little encouragement now and again.  To offer you a little incentive, Spyglass notifies you when your goal is complete.  Think of it as a financial merit badge!</p>
        </div>
        <div class="small-side" 
        style="background-image: url('../../../assets/about_page_4.png');background-size:cover; background-position:bottom;">
        </div>
    </section>
    <section>
        <div class="small-side" 
            style="background-image: url('../../../assets/about_page_1.jpg');background-size:cover">
            
        </div>
        <div class="large-side">
            <header>Is that it?</header>
            <p>That's it!  Pretty simple, right?  With Spyglass, you can keep and track all of your financial goals in one easy-to-use app.</p>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section class="bottom">
        <div>
            <p>Why not start right now?</p>
            <mat-icon id="goal" routerLink="/add-goal">note_add</mat-icon>
            <p>Add A Goal!</p>
        </div>
    </section>
    <footer>
        <p>For more information, visit:</p>
        <small>
            <a href="http://www.vanguard.com">
                <img src="../../../assets/vanguard.svg" alt="vanguard.com" style="vertical-align:middle;">
            </a>
        </small>
    </footer>
</div>