<mat-card>

  <mat-form-field appearance="standard">
    <mat-label>Enter Your Full Name</mat-label>
    <input matInput placeholder="Name">
  </mat-form-field>
  
  <mat-form-field appearance="standard">
    <mat-label>Enter Your Email Address</mat-label>
    <input type="email" matInput placeholder="Email Address">
  </mat-form-field>
  
  <mat-form-field appearance="standard">
    <mat-label>Enter A Password</mat-label>
    <input type="password" matInput placeholder="Password">
    <mat-hint>Enter a Password</mat-hint>
  </mat-form-field>

  <button mat-button color="primary">
    <mat-icon>check</mat-icon>Save
  </button>
  <button mat-button color="primary">
    <mat-icon>cancel</mat-icon>Cancel
  </button>
  
</mat-card>