mat-card {
    align-items:center;
    font-family: Univers-Basic-Regular,Arial,sans-serif;
    width: 50%;
    margin: 5px auto;
    padding: 20px;
}

mat-form-field {
  margin: 5px;
  width: 45%;
}

h2, p {
    text-align:center;
}