:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .small_logo {
    display:inline;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 2.5em;
    color: rgb(150, 21, 29);
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  
  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
  
  .login-page {
    height: 100%;
    width: 100%;
  }
  
  .logo-container {
    height: auto;
    width: 250px;
  }
  
  .login-field {
    width: 100%;
  }
  
  img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }